<div class="container">
    <a routerLink="/login" style="font-size: 20px;"><i class="fas fa-arrow-left"></i> Volver</a> |
    <br><br>

    <h2>Qué es la Conaces?</h2>

    <p>La conaces es un organismo de asesoria y coordinación que se encarga de evaluar el cumplimiento
        de los requisitos para la creación, modificación y definición de intrucciones de Educación Superior.
        También está encargado de evaluar que los programas académicos cumplan con las condiciones de calidad
        para su oferta y desarrollo, y emite conceptos sobre el otorgamiento o renovación del registro calificado
    </p>

    <div class="container">
        <div class="row">
            <div class="col-6">
                <ol class="list-group list-group-numbered" id="list">
                    <li>Campo 01. Sala de Evaluación de Educación. </li><br>
                    <li>Campo 02. Sala de Evaluación de Artes y Humanidades.</li><br>
                    <li>Campo 03. Sala de Evaluación de Ciencias Sociales, Periodismo e Información.</li><br>
                    <li>Campo 04. Sala de Evaluación de Administración de Empresas y Derecho.</li><br>
                    <li>Campo 05. Sala de Evaluación de Ciencias Naturales, Matemáticas y Estadística.</li><br>
                    <li>Campo 06. Sala de Evaluación de Tecnologías de la Información y la Comunicación (TIC).</li><br>
                </ol>
            </div>
            <div class="col-6">
                <ol class="list-group list-group-numbered" id="list">
                    <li>Campo 07. Sala de Evaluación de Ingeniería,indusstria y Contrucción. </li><br>
                    <li>Campo 08. Sala de Evaluación de Agricultura, Silvicultura, Pesca y Veterinaria.</li><br>
                    <li>Campo 09. Sala de Evaluación de Salud y Bienestar.</li><br>
                    <li>Sala de Evaluación de Técnicos profesionales y Tecnológicos.</li><br>
                    <li>Sala de Evaluación de Convalidaciones.</li><br>
                    <li>Sala de Evalución de Trámites Institucionales.</li><br>
                </ol>
            </div>
        </div>
    </div>
</div>