hola

<div class="container">

    <app-card-login [icon]= "icon" [tittle]= "tittle" [text] = "text"> </app-card-login>
    <app-card-login [icon]= "icon" [tittle]= "tittle" [text] = "text"> </app-card-login>
    <app-card-login [icon]= "icon" [tittle]= "tittle" [text] = "text"> </app-card-login>
    <app-card-login [icon]= "icon" [tittle]= "tittle" [text] = "text"> </app-card-login>
    <app-card-login [icon]= "icon" [tittle]= "tittle" [text] = "text"> </app-card-login>
    <app-card-login [icon]= "icon" [tittle]= "tittle" [text] = "text"> </app-card-login>
</div>