

<div class="container">

    <div class="row">
        <div class="col-6">
            <app-card-login [icon]="textCards[0].icon" [tittle]="textCards[0].tittle" [text]="textCards[0].text" (click)= "goToviews('/conaces')">
            </app-card-login>
        </div>
        <div class="col-6">
            <app-card-login [icon]="textCards[1].icon" [tittle]="textCards[1].tittle" [text]="textCards[1].text" (click)= "goToviews('/repositorios')">
            </app-card-login>
        </div>

    </div>
    <br>
    <div class="row">
        <div class="col-6">
            <app-card-login [icon]="textCards[2].icon" [tittle]="textCards[2].tittle" [text]="textCards[2].text" (click)= "goToviews('/preguntas')">
            </app-card-login>
        </div>
        <div class="col-6">
            <app-card-login [icon]="textCards[3].icon" [tittle]="textCards[3].tittle" [text]="textCards[3].text" (click)= "goToviews('/eventos')">
            </app-card-login>
        </div>

    </div>
    <br>

    <div class="row justify-content-end">
        <div class="cardSimple">
            <app-card-login [icon]="textCards[4].icon" [tittle]="textCards[4].tittle" [text]="textCards[4].text" (click)= "goToviews('/eventos')">
            </app-card-login>
        </div>
    </div>


</div>

