<div class="container">
    <br>
    <div class="card " style="width: 18rem;">
        <div class="card-body">

            <div class="row align-items-center">
                <div class="col-3">
                   <i class="fi-rr-{{icon}}"></i> 
                </div>
                <div class="col-9">

                    <div class="row align-items-center">
                        <h5 class="card-title">{{tittle}}   adfasdfgwergerg</h5>
                        <p class="card-text">{{text}}</p>
                       
                    </div>
                </div>

            </div>

        </div>
    </div>
    

</div>