<div  class="container">
    <br>
    <div   id= "car1" class="card col-6">
        <div class="card-body">

            <div class="row align-items-center">
                <div class="col-3">                  
                    <i id="icon1" class="fas {{icon}}" ></i>
                </div>

                <div  class="col-9">
                    <div  class="row align-items-center">
                        <h5 class="card-title">{{tittle}} </h5>
                        <p class="card-text">{{text}}</p>
                       
                    </div>
                </div>

            </div>

        </div>
    </div>
    

</div>